@font-face {
    font-family: 'Raleway';
    src:
      url('@/assets/fonts/raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src:
      url('@/assets/fonts/raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  
  html,
  body,
  #app {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
  }